/* .
. ENGIPRESS LIBRARY CORE STYLESHEET
. 
. Contains global Wordpress classes, ids, etc. that will be used in all Engipress themes
. */


/* General Elements */  
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul, ol, li {
	list-style-type: none;
}

img {
	border: none;
}

video {
	display: block;
	width: 100%;
}

blockquote {

}


/* Forms */
form {
	font-size: 14px;
	line-height: 1.2em;
}

form input[type=submit] {
	font-size: 16px;
}

form input,
form select,
form textarea,
form button {
	font-size: 1em;
}

form,
form div,
form input[type=submit],
form.eng-form-banner input[type=submit],
form button {
	width: 100%;
	text-align: center;
}

form input,
form select,
form textarea,
form button {
	border: 2px solid #000;
	width: calc(100% - 4px);
}

form input[type=submit],
form button {
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
}


form.eng-form-width-50p,
form.eng-form-width-70p {
	margin: 0 auto;
}

form.eng-form-width-50p {
	width: 50%;
}

form.eng-form-width-70p {
	width: 70%;
}

form#searchform input,
form .sbe-widget-form-field,
form.eng-form-banner input,
form.eng-form-banner input[type=submit],
form.eng-form-banner button,
form.eng-form-banner textarea,
form.eng-form-banner button,
form.eng-form-contact input,
form.eng-form-contact input[type=submit],
form.eng-form-contact textarea,
form.eng-form-contact button,
form.eng-form-contact button {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-appearance: none;
	padding: 5px 4px;
	margin-bottom: 5px;
}

form.eng-form-banner input,
form.eng-form-banner input[type=submit],
form.eng-form-banner button,
form.eng-form-contact input,
form.eng-form-contact input[type=submit],
form.eng-form-contact button,
form.eng-form-contact textarea {
	border: 0 none;
}

form.eng-form-banner input[type=text],
form.eng-form-banner input[type=submit],
form.eng-form-banner button {
	width: calc(100% - 10px);
}

form.eng-form-contact input[type=text],
form.eng-form-contact textarea {
	width: calc(100% - 8px);
}

form.eng-form-banner input[type=submit]:hover,
form.eng-form-banner button:hover,
form.eng-form-contact input[type=submit]:hover,
form.eng-form-contact button:hover {
	text-decoration: none;
}

form.eng-form-banner ul li.gfield,
form.eng-form-contact ul li.gfield,
form.eng-form-email ul li.gfield,
form.eng-form-banner ul li.gfield.gform_hidden,
form.eng-form-content ul li.gfield.gform_hidden,
form.eng-form-email ul li.gfield.gform_hidden {
    margin: 0;
}

form.eng-form-banner .gform_heading,
form.eng-form-contact .gform_heading/*,
form.eng-form-email .gform_heading*/ {
    margin-bottom: 10px;
}

form.eng-form-banner .gform_footer,
form.eng-form-contact .gform_footer,
form.eng-form-email .gform_footer {
    margin: 0 auto;
	width: 35%;
}

form.eng-form-banner .gform_title,
form.eng-form-contact .gform_title,
form.eng-form-email .gform_title {
    font-size: 25px;
	margin-bottom: 10px;
}

form.eng-form-banner label,
form.eng-form-email label {
	display: none;
}

form.eng-form-banner .gform_body {
    margin: 0 auto;
	width: 80%;
}

form.eng-form-email {
	text-align: center;
	width: 400px;
	overflow: hidden;
}

form.eng-form-email .gform_body {
    float: left;
    width: 310px;
}

form.eng-form-email .gform_footer {
    float: right;
    width: 90px;
    clear: none;
    margin-top: 16px;
}

form.eng-form-email .gform_body input {
    width: 94%;
    border-radius: 5px;
    padding: 2%;
    margin-top: 15px;
}

form.eng-form-content .gfield {
    margin: 10px 0;
	clear: both;
	overflow: hidden;
}

form.eng-form-content label,
form.eng-form-content span.name_first,
form.eng-form-content span.name_last,
form.eng-form-content .ginput_container_select {
	text-align: left;
}

form.eng-form-content label {
	display: block;
	font-weight: bold;
}

form.eng-form-content span.name_first label,
form.eng-form-content span.name_last label {
	font-weight: normal;
}

form.eng-form-content span.name_first,
form.eng-form-content span.name_last {
	float: left;
    width: calc(50% - 2px);
    display: inline-block;
}

form.eng-form-content span.name_first:nth-of-type(even),
form.eng-form-content span.name_last:nth-of-type(even) {
    float: right;
}

form.eng-form-content input,
form.eng-form-content select,
form.eng-form-content textarea,
form.eng-form-content button {
    border: 1px solid #000;
	padding: 5px 4px;
}

form.eng-form-content input,
form.eng-form-content textarea {
	width: calc(100% - 10px);
}

form.eng-form-content select {
	width: 100%;
}

form.eng-form-content .ginput_container_checkbox {
	text-align: left;
}

form.eng-form-content input[type=radio],
form.eng-form-content input[type=checkbox] {
	float: left;
	width: auto;
	margin: 0 10px;
}

form.eng-form-content input[type=submit],
form.eng-form-content button {
	width: 50%;
	margin: 0 auto;
}

.gform_validation_container, 
.gform_wrapper .gform_validation_container, 
.gform_wrapper .field_sublabel_hidden_label label,
.gform_wrapper .hidden_label label,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, 
body .gform_wrapper li.gform_validation_container, 
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}

.gfield_description {
	font-size: 11px;
}


/* Rounded Corners */
.rounded-corners-5px {
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
 
 
/* Wordpress Powered */
.alignleft {
	float: left;
	margin: 1%;
	margin-left: 0;
}

.alignright {
	float: right;
	margin: 1%;
	margin-right: 0;
}

.aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.wp-caption,
.wp-caption-text,
.gallery-caption {
	margin: 0.5%;
}

.wp-caption.aligncenter,
.wp-caption-text.aligncenter,
.gallery-caption.aligncenter {
	margin:  0.5% auto;
}

.menu-item:last-of-type .separator,
.menu .menu-item .sub-menu {
	display: none;
}

.navigation {
	text-align: center;
}

.navigation .prev {
	float: left;
}

.navigation .next {
	float: right;
}
 
.bypostauthor {
	font-weight: bold;
}

.sticky {
	position: absolute;
}

.nolink,
.nolink > a, 
.nolink > a:hover {
	text-decoration: none;
	cursor: default;
}


/* Banner */
.banner-area {
	position: relative;
    min-height: 160px;
	overflow: hidden;
	width: 100%;
}

.banner-items {
    padding: 1% 0;
}

.banner-content-left,
.banner-content-right {
	float: none;
}

.banner-area .heading {
	text-align: center;
}

.banner-area video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner-area-overlay-video,
.banner-area-overlay-youtube {
	position: absolute;
	width: 100%;
	height: calc(100% - 20px);
	background-color: transparent;
	z-index: 1000;
	top: 0;
}

.banner-area-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
	min-height: 0px;
}

.banner-area-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Global Goodlook CSS Rules */
.display-mobile,
.display-tablet-and-mobile,
.display-desktop-and-mobile,
.content img,
.menu-mobile-toggle,
.logo#logo-menu-mobile,
.logo#logo-menu-mobile .primarytitle a,
a.subcontainer {
	display: block;
}

.display-tablet,
.display-desktop,
.display-desktop-and-tablet,
.has-menu-mobile-toggle .menu {
	display: none;
}

a.subcontainer {
	overflow: hidden;
}

.has-menu-mobile-toggle {
	position: relative;
	min-height: 45px;
}

.has-menu-mobile-toggle .menu {
	padding-top: 45px;
}

.menu-mobile-toggle,
.logo#logo-menu-mobile .primarytitle,
.logo#logo-menu-mobile .primarytitle a {
	height: 40px;
}

.menu-mobile-toggle {
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
	width: 40px;
}

.menu-mobile-toggle-bar {
	border-radius: 5px;
	width: 100%;
	height: 5px;
	margin: 7px 0;
	transition: 0.4s;
}

.menu-mobile-toggle.active .menu-mobile-toggle-bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-mobile-toggle.active .menu-mobile-toggle-bar2 {
	opacity: 0;
}

.menu-mobile-toggle.active .menu-mobile-toggle-bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-10px, -8px);
}

.logo#logo-menu-mobile {
	position: absolute;
	width: 100%;
	text-align: center;
}

.logo#logo-menu-mobile .primarytitle a {
	font-size: 1em;
	line-height: 40px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.floatarea {
	clear: both;
	overflow: hidden;
}

.prev-nxt-nav {
	clear: both;
}

.desktop-one-line-justify {
    text-align-last: justify;
}

.absolute-centered {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.vertically-centered {
	position: initial;
	top: initial;
	transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	-ms-transform: translate(0%, 0%);
	-moz-transform: translate(0%, 0%);
	-o-transform: translate(0%, 0%);
	margin: 0 auto;
}

.positioning-left {
	left: 0;
}

.positioning-right {
	right: 0;
}

.positioning-top {
	top: 0;
}

.positioning-bottom {
	bottom: 0;
}

.heading-inner {
	display: block;
}

.content ul, 
.content ul > li {
	list-style-type: disc;
}
 
.content ol, 
.content ol > li {
	list-style-type: decimal;
}
 
.content ul, 
.content ol {
	padding-left: 30px;
	margin-bottom: 10px;
}

.content ul.list-social,
ul.list-social,
ul.widget-list-cptloop,
aside ul,
aside ol,
aside.content ul,
aside.content ol {
	padding-left: 0px;
}

.content ul li,
.content ol li {
	margin: 10px 0;
}

.content form ul,
.content form ul li,
.content ul.list-social,
.content ul.list-social > li
ul.list-social,
ul.list-social > li,
ul.widget-list-cptloop,
ul.widget-list-cptloop > li {
	list-style-type: none;
}

aside.content .widget-list-cptloop .title,
aside.content .widget-list-cptloop .title a {
	font-weight: normal;
}

.content form ul {
	padding-left: 0px;
	margin-bottom: 0px;
}

.content img,
.logo img,
video {
	max-width: 100%;
	height: auto;
}

.eng-button {
	cursor: pointer;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
}

.eng-button:hover {
	text-decoration: none;
}


/* Font Sizes */
body {
	font-size: 16px;
	line-height: 1.375em;
}

.content h1 {
	font-size: 2em;
	line-height: 1.25em;
}

.content h2 {
	font-size: 1.625em;
	line-height: 1.15em;
}

.content h3 {
	font-size: 1.375em;
	line-height: 1.13em;
}

.content h4 {
	line-height: 1.1em;
}

.content blockquote {
	font-size: 1.25em;
	line-height: 1.25em;
}


/* Shortcodes */
.onehalf,
.onethird,
.onefourth,
.twothirds,
.threefourths {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}


/* jQuery UI */
.ui-tabs-hide {
	display: none;  
}


/* Responsive CSS - Mobile Only */
@media screen and (max-width: 700px) {
	.alignleft,
	.alignright {
		float: none;
	}
	
	.content img {
		margin: 0 auto;
	}
}


/* Responsive CSS - Tablet and Desktop */
@media screen and (min-width: 700px) {
	.display-tablet,
	.display-desktop-and-tablet,
	.display-tablet-and-mobile,
	.has-menu-mobile-toggle .menu {
		display: block;
	}

	.display-desktop,
	.display-mobile,
	.display-desktop-and-mobile,
	.menu-mobile-toggle,
	.logo#logo-menu-mobile {
		display: none;
	}
	
	.content img {
		display: initial;
	}

	.content h1 {
		font-size: 2.5em;
		line-height: 1.125em;
	}

	.content h2 {
		font-size: 2em;
	}

	.content h3 {
		font-size: 1.5em;
	}

	.content blockquote {
		font-size: 1.5em;
		line-height: 1.45em;
	}

	.has-menu-mobile-toggle {
		position: inherit;
		min-height: auto;
	}

	.has-menu-mobile-toggle .menu {
		padding-top: 0px;
	}
	
	.banner-content-left {
		float: left;
		text-align: left;
	}

	.banner-content-right {
		float: right;
	}
	
	.vertically-centered {
		display: block;
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
		-webkit-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		-moz-transform: translate(0%, -50%);
		-o-transform: translate(0%, -50%);
	}
	
	
	/* Menu / Drop Down */
	.menu.dropdown .menu-item .sub-menu a {
		display: block;
		float: none;
	}

	.menu.dropdown .menu-item-has-children {
		position: relative;
	}
	 
	.menu.dropdown .sub-menu {
		position: absolute;
		z-index: 500;
		white-space: nowrap;
	}
	 
	.menu.dropdown .sub-menu .sub-menu {
		top: 0;
		left: 100%;
	}
	 
	.menu.dropdown .sub-menu .menu-item {
		float: none;
		clear: both;
		display: block;
	}

	.menu.dropdown .sub-menu,
	.menu.dropdown .menu-item:hover .sub-menu .sub-menu,
	.menu.dropdown .sub-menu .menu-item:hover .sub-menu .sub-menu {
		display: none; 
	}

	.menu.dropdown .menu-item:hover .sub-menu,
	.menu.dropdown .sub-menu .menu-item:hover .sub-menu,
	.menu.dropdown .sub-menu .menu-item .sub-menu .menu-item:hover .sub-menu {
		display: block;
	}
}


/* Responsive CSS - Desktop Only */
@media screen and (min-width: 980px) {
	.display-desktop,
	.display-desktop-and-tablet,
	.display-desktop-and-mobile {
		display: block;
	}

	.display-tablet,
	.display-mobile,
	.display-tablet-and-mobile {
		display: none;
	}


	/* Font Sizes */
	.content h1 {
		font-size: 3em;
		line-height: 1.05em;
	}

	.content h2 {
		font-size: 2.25em;
		line-height: 1.25em;
	}

	.content h3 {
		font-size: 1.75em;
		line-height: 1.25em;
	}

	.content h4 {
		font-size: 1.125em;
		line-height: 1.2em;
	}
	 
	.content h5 {
		font-size: 0.8em;
	}

	.content h6 {
		font-size: 0.6em;
	}

	.content blockquote {
		font-size: 1.5em;
		line-height: 1.45em;
	}

	.smalltext {
		font-size: 0.7em;
	}


	/* Shortcodes */
	.onehalf,
	.onethird,
	.onefourth,
	.twothirds,
	.threefourths,
	.onehalf {
		float: left;
		padding: 1%;
	}

	.onehalf {
		width: 48%;
	}

	.onethird {
		width: 31%;
	}

	.onefourth {
		width: 23%;
	}

	.twothirds {
		width: 64%;
	}

	.threefourths {
		width: 73%;
	}
}