/* .
. GOODLOOK LIBRARY MAIN DESIGN STYLESHEET
. 
. Contains primary design CSS for the Blog and CPTs that will be used in all Goodlook themes
. */

/* Main Design General */
body.design-main .navigation a,
body.design-main .navigation .current {
	display: inline-block;
	border: 1px solid #5e5e5e;
	border-radius: 5px;
	padding: 10px;
	margin-top: 2%;
}

body.design-main .navigation a {
	text-decoration: none;
}


/* Main Design Menu */
body.design-main .design-main-nav {
	padding: 1% 0;
	text-align: justify;
	text-align-last: justify;
}

body.design-main .design-main-nav .menu,
body.design-main .design-main-nav .sub-menu {
	padding-left: 0;
}

body.design-main .design-main-nav .menu {
	margin-bottom: 0px;
}

body.design-main .design-main-nav .menu-item,
body.design-main .design-main-nav .menu-item a {
	display: block;
}

body.design-main .design-main-nav .menu > .menu-item {
	position: relative;
}

body.design-main .design-main-nav .menu > .menu-item:last-of-type::after {
	content: "";
	width: 100%;
	display: block;
}

body.design-main .design-main-nav .menu .menu-item .sub-menu {
	left: 0;
	text-align: left;
	text-align-last: left;
}

body.design-main .design-main-nav .menu .menu-item .sub-menu .menu-item {
	line-height: 3%;
}


/* Main Design Sidebar Forms */
body.design-main aside .sbe-widget-email-field, 
body.design-main aside .searchform input[type="text"] {
	display: block;
	margin: 0 auto;
}

body.design-main aside form#searchform input,
body.design-main aside form .sbe-widget-form-field {
	border: 1px solid #000;
}

body.design-main aside input[type=submit] {
	border: 1px solid #000;
	border-radius: 0.5%;
	cursor: pointer;
	padding: 3px 2%;
	margin: 0.5% auto;
	display: block;
	width: auto;
	font-size: 0.9em;
}


/* Main Design Biography */
body.design-main .biography {
	padding: 1%;
	border: 1px solid #000;
	margin-bottom: 2%;
}

body.design-main .biography-image {
	float: left;
	margin-top: 1%;
	margin-right: 1%;
}

body.design-main .biography-content {
	overflow: hidden;
}

body.design-main .biography .link-continue-bio {
	float: left;
}

body.design-main .biography .link-continue-posts {
	float: right;
}


/* Main Design Comments */
body.design-main .comments {
	clear: both;
}

body.design-main .comments-template {
	margin-bottom: 2%;
}

body.design-main .comments-list,
body.design-main .comments-list li {
	padding-left: 0;
	list-style-type: none;
}

body.design-main .comment,
body.design-main .author-comment {
	border-style: solid;
	border-width: 2px;
	padding: 2.5%;
}

body.design-main .comment-left {
	float: left;
	width: 6%;
	margin: 0 2.5%;
}

body.design-main .comment-respond {
	margin: 0 2.5%;
}

body.design-main .comment-right {
	margin-left: 11%;
}

body.design-main .comment,
body.design-main .comment-date,
body.design-main .comment-required-note,
body.design-main .comment-textarea,
body.design-main .comment-loggedout-items,
body.design-main .comment-submit {
	margin-bottom: 1%;
}

body.design-main .comment-loggedout-items {
	text-align: justify;
	text-align-last: justify;
}

body.design-main .comment-loggedout-item {
	display: inline-block;
	width: 30%;
}

body.design-main .comment-loggedout-item input,
body.design-main .comment-textarea textarea {
	padding: 0.5%;
}

body.design-main .comment-loggedout-item label {
	display: block;
	text-align: left;
	text-align-last: left;
}

body.design-main .comment-loggedout-item input {
	width: calc(100% - 14px);
}

body.design-main .design-main-nav .comment-loggedout-item::after {
	content: "";
	width: 100%;
}

body.design-main .comment-textarea textarea {
	width: calc(100% - 14px);
}


/* Main Design Sidebar */
body.design-main aside,
body.design-main aside .list-social {
	text-align: center;
}

body.design-main aside .searchform label,
body.design-main aside .sbe-widget-form-field-title {
	display: none;
}

body.design-main aside .sbe-widget-email-field, 
body.design-main aside .searchform input[type="text"] {
	width: 90%;
}

body.design-main aside .widgettitle {
	text-transform: lowercase;
}

body.design-main-list aside .design-main-comments p,
body.design-main-list aside .widget .cat-item,
body.design-main-list aside .widget-list-cptloop .title,
body.design-main-list aside .widget-list-cptloop .content,
body.design-main-list aside .widget-list-cptloop .excerpt {
	text-align: left;
}

body.design-main-list aside .design-main-comments p,
body.design-main-list aside .widget-list-cptloop .content,
body.design-main-list aside .widget-list-cptloop .excerpt {
	font-size: 0.8em;
	line-height: 1.2em;
}


/* Blog*/
body.blog .design-main-nav {
	text-align: center;
	text-align-last: center;
	padding: 0;
}

body.blog .design-main-nav .menu > .menu-item > a {
	padding: 10px 30px;
}

body.blog .design-main-nav .menu > .menu-item > .sub-menu {
	padding: 0px 30px;
}

body.blog .design-main-nav .menu > .menu-item > .sub-menu > .menu-item {
    line-height: 30px;
}

body.blog .container {
	position: relative;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

body.blog .container .title,
body.blog .container .datetime {
	margin-bottom: 1%;
}

body.blog .container .thumb,
body.blog .container .thumb img {
	margin: 0 auto;
	display: block;
}


/* Responsive CSS - Tablet and Desktop */
@media screen and (min-width: 700px) {
	body.design-main .design-main-nav .menu-item,
	body.design-main .design-main-nav .menu-item a {
		display: inline-block;
	}

	/* Main Design Thumbnails */
	body.design-main-list .container.hasthumb .thumb-custom-size-150x150 {
		min-height: 150px;
	}
	
	body.design-main-list .container.hasthumb .thumb-custom-size-250x175 {
		min-height: 175px;
	}

	body.design-main-list .container.hasthumb .thumb-custom-size-200x200,
	body.design-main-list .container.hasthumb .thumb-custom-size-300x200 {
		min-height: 200px;
	}
	
	body.design-main-list .container.hasthumb .thumb-custom-size-250x250 {
		min-height: 250px;
	}

	body.design-main-list .container.hasthumb .thumb-custom-size-200x300 {
		min-height: 300px;
	}
	
	body.design-main-list .container.hasthumb .terms {
		position: absolute;
		bottom: 0%;
		margin-bottom: 5%;
	}
		
		
	/* Main Design Sidebar */
	body.design-main aside,
	body.design-main aside .list-social {
		text-align: left;
	}
}


/* Responsive CSS - Tablet Only */
@media screen and (min-width: 700px) and (max-width: 960px) {
	/* Main Design List Thumbnails */
	body.design-main-list .container.hasthumb-tablet-left .thumb,
	body.design-main-list .container.hasthumb-tablet-alternating:nth-of-type(odd) .thumb {
		float: left;
		margin-right: 1%;
		margin-left: 0%;
	}
	
	body.design-main-list .container.hasthumb-tablet-right .thumb,
	body.design-main-list .container.hasthumb-tablet-alternating:nth-of-type(even) .thumb {
		float: right;
		margin-left: 1%;
		margin-right: 0%;
	}
	
	
	/* Main Design List Content */
	body.design-main-list .container.hasthumb-tablet-left.hasthumb-custom-size-150x150 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-150x150:nth-of-type(odd) .data {
		margin-left: 160px;
	}
	
	body.design-main-list .container.hasthumb-tablet-right.hasthumb-custom-size-150x150 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-150x150:nth-of-type(even) .data {
		margin-right: 160px;
	}
	
	body.design-main-list .container.hasthumb-tablet-left.hasthumb-custom-size-200x200 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-200x200:nth-of-type(odd) .data,
	body.design-main-list .container.hasthumb-tablet-left.hasthumb-custom-size-200x300 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-200x300:nth-of-type(odd) .data {
		margin-left: 210px;
	}
	
	body.design-main-list .container.hasthumb-tablet-right.hasthumb-custom-size-200x200 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-200x200:nth-of-type(even) .data,
	body.design-main-list .container.hasthumb-tablet-right.hasthumb-custom-size-200x300 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-200x300:nth-of-type(even) .data {
		margin-right: 210px;
	}
	
	body.design-main-list .container.hasthumb-tablet-left.hasthumb-custom-size-250x250 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-250x250:nth-of-type(odd) .data,
	body.design-main-list .container.hasthumb-tablet-left.hasthumb-custom-size-250x175 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-250x175:nth-of-type(odd) .data {
		margin-left: 260px;
	}
	
	body.design-main-list .container.hasthumb-tablet-right.hasthumb-custom-size-250x250 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-250x250:nth-of-type(even) .data,
	body.design-main-list .container.hasthumb-tablet-right.hasthumb-custom-size-250x175 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-250x175:nth-of-type(even) .data {
		margin-right: 260px;
	}
	
	body.design-main-list .container.hasthumb-tablet-left.hasthumb-custom-size-300x200 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-300x200:nth-of-type(odd) .data {
		margin-left: 310px;
	}
	
	body.design-main-list .container.hasthumb-tablet-right.hasthumb-custom-size-300x200 .data,
	body.design-main-list .container.hasthumb-tablet-alternating.hasthumb-custom-size-300x200:nth-of-type(even) .data {
		margin-right: 310px;
	}
}


/* Responsive CSS - Desktop Only */
@media screen and (min-width: 960px) {
	/* Main Design List Thumbnails */
	body.design-main-list .container.hasthumb-desktop-left .thumb,
	body.design-main-list .container.hasthumb-desktop-right .thumb,
	body.design-main-list .container.hasthumb-desktop-alternating .thumb {
		margin-bottom: 1%;
	}
	
	body.design-main-list .container.hasthumb-desktop-left .thumb,
	body.design-main-list .container.hasthumb-desktop-alternating:nth-of-type(odd) .thumb {
		float: left;
		margin-right: 1%;
		margin-left: 0%;
	}
	
	body.design-main-list .container.hasthumb-desktop-right .thumb,
	body.design-main-list .container.hasthumb-desktop-alternating:nth-of-type(even) .thumb {
		float: right;
		margin-left: 1%;
		margin-right: 0%;
	}
	
	
	/* Main Design List Content */
	body.design-main-list .container.hasthumb-desktop-left.hasthumb-custom-size-150x150 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-150x150:nth-of-type(odd) .data {
		margin-left: 160px;
	}
	
	body.design-main-list .container.hasthumb-desktop-right.hasthumb-custom-size-150x150 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-150x150:nth-of-type(even) .data {
		margin-right: 160px;
	}
	
	body.design-main-list .container.hasthumb-desktop-left.hasthumb-custom-size-200x200 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-200x200:nth-of-type(odd) .data,
	body.design-main-list .container.hasthumb-desktop-left.hasthumb-custom-size-200x300 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-200x300:nth-of-type(odd) .data {
		margin-left: 210px;
	}
	
	body.design-main-list .container.hasthumb-desktop-right.hasthumb-custom-size-200x200 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-200x200:nth-of-type(even) .data,
	body.design-main-list .container.hasthumb-desktop-right.hasthumb-custom-size-200x300 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-200x300:nth-of-type(even) .data {
		margin-right: 210px;
	}
	
	body.design-main-list .container.hasthumb-desktop-left.hasthumb-custom-size-250x250 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-250x250:nth-of-type(odd) .data,
	body.design-main-list .container.hasthumb-desktop-left.hasthumb-custom-size-250x175 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-250x175:nth-of-type(odd) .data {
		margin-left: 260px;
	}
	
	body.design-main-list .container.hasthumb-desktop-right.hasthumb-custom-size-250x250 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-250x250:nth-of-type(even) .data,
	body.design-main-list .container.hasthumb-desktop-right.hasthumb-custom-size-250x175 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-250x175:nth-of-type(even) .data {
		margin-right: 260px;
	}
	
	body.design-main-list .container.hasthumb-desktop-left.hasthumb-custom-size-300x200 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-300x200:nth-of-type(odd) .data {
		margin-left: 310px;
	}
	
	body.design-main-list .container.hasthumb-desktop-right.hasthumb-custom-size-300x200 .data,
	body.design-main-list .container.hasthumb-desktop-alternating.hasthumb-custom-size-300x200:nth-of-type(even) .data {
		margin-right: 310px;
	}
}